build
uf2/pico/LCD_0in96.uf2
uf2/pico/LCD_1in3.uf2
uf2/pico/LCD_1in8_test.uf2
uf2/pico/LCD_1in14_test.uf2
uf2/pico/LCD_1in14_V2_test.uf2
uf2/pico/LCD_1in44_test.uf2
uf2/pico/LCD_2in_test.uf2
uf2/pico/OLED_1in3_C_test_I2C.uf2
uf2/pico/OLED_1in3_C_test_SPI.uf2
uf2/pico/OLED_2in23_test_I2C.uf2
uf2/pico/OLED_2in23_test_SPI .uf2
uf2/pico2/LCD_0in96.uf2
uf2/pico2/LCD_1in3.uf2
uf2/pico2/LCD_1in8.uf2
uf2/pico2/LCD_1in14_V2.uf2
uf2/pico2/LCD_1in14.uf2
uf2/pico2/LCD_1in44.uf2
uf2/pico2/LCD_2in.uf2
uf2/pico2/OLED_1in3_C_test_I2C.uf2
uf2/pico2/OLED_1in3_C_test_SPI.uf2
uf2/pico2/OLED_2in23_C_test_I2C.uf2
uf2/pico2/OLED_2in23_C_test_SPI.uf2
.vscode/c_cpp_properties.json
.vscode/cmake-kits.json
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
